.bg {
  /* height: 100vh; */

  
  /* width: 100%; */
  /* height: auto; */
}

.button {
  display: flex;
  justify-content: center;
}

body{
  margin: 0;
  background-image: url("./assets/wheat.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}