.table{
    display: flex;
    justify-content: center;
    
}



.tabledata{
    border-collapse: collapse;
    width: 80%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;


}


.tabledata td, th{
    border:1px solid #B9B9B9;

}

.tabledata td{
    font-size: larger;
    padding:10px;
    background-color: white;
}
.tabledata th{
    padding: 15px;
    font-size: larger;
    background-color:#F0F0F0 ;
}